.nav {
    margin-bottom: 60px;
}

.item a {
    font-size: 16px;
    color:#A396B0;
    text-decoration: none;
    white-space:  nowrap;
}

.item a:hover {
    text-decoration: underline;
}

.item a.active {
    color: gold;
}

.item.users {
    margin-top: 50px;
}
