.formControl.error input,
.formControl.error textarea {
    border: 2px solid red;
}

.formControl.error span {
    color: red;
}

.formSummaryError {
    border:red 2px solid;
    padding: 5px;
    color: red;
}

.captcha_wrapper {
    margin: 0 0 15px 0;
}

.captcha_title {
    margin: 10px 0 5px 0;
}