.dialogs {
    display: grid;
    grid-template-columns: 3fr 10fr;

    padding: 10px;
}

.dialog_items {
    padding: 10px 0;
    margin: 0 30px 0 0;
    border-radius: 5px;
    background: #ffffff;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.textarea textarea {
    resize: none;
    padding: 10px 20px;
}




